/* EXTERNAL CSS */

body{
  font-family: 'Montserrat';
  background-size: cover;
}

.navbar{
  margin: 0;
  padding: 0;
  background-color: #FFEEAD; #FFC4C4;
}

.srm{
  width: 80px;
  height: 80px;
  margin-left: 80px;
  margin-top: 15px;
}

.nav-item{
  padding: 25px 15px;
}

.nav-link{
  font-family: "Montserrat";
  font-weight: bold;
  color: #1B262C;
}

#title{
  background-color: #FFEEAD; #FFC4C4;
  text-align: center;
  padding: 4% 0 0 0;
  color: #1B262C;
  padding-bottom: 50px;
}

h1{
  font-family: "Great Vibes", cursive;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 10px 0px;
}

h3{
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.block-1{
  width: 250px;
  position: absolute;
  display: inline-block;
  left: 190px;
  top: 380px;
}

.block-2{
  width: 250px;
  position: relative;
  display: inline-block;
  left: -40px;
  top: 45px;
}

.block-3{
  width: 250px;
  position: absolute;
  display: inline-block;
  right: 470px;
  top: 370px;
}

.block-4{
  width: 205px;
  position: relative;
  display: inline-block;
  left: 355px;
  top: 45px;
}

.intro{
  font-weight: bold;
  padding-top: 10px;
}

.image1{
  width: 185px;
}

.image3{
  width: 180px;
}

.image4{
  width: 200px;
}

#form{
  margin-top: -16px;
  background-color: #F3E0B5;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 45px;
}

.cover{
  background-color: rgb(0,0,0,0.6);
  height:420px;
  width: 730px;
  border-radius: 15px;
  text-align: center;
  margin-top: 70px;
  margin-left: 25%;
}

.margin-3{
  padding-top: 50px;
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  letter-spacing: 0.1em;
}

label{
  font-family: "Ubuntu";
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 15px 15px;
  color: #fff;
  margin-top: 10px;
  margin-left: -20px;
}

input{
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
}

button{
  margin: 7px 0px;
}

.ameya{
  font-size: 1.8rem;
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 1028px) {

  .navbar{
    position: inherit;
  }

  .srm{
    margin-left: 25px;
    margin-top: 30px;
  }

  .nav-item{
    padding: 30px 15px 10px;
  }

  h1{
    padding: 25% 0% 0%;
  }

  .block-1, .block-2, .block-3, .block-4{
    text-align: center;
    position: inherit;
  }

  .cover{
    margin: auto;
    width: 400px;
    height: 450px;
  }

}
